.banner{
  background-color: green;text-align: center;font-size:larger;font-weight:bolder;
  background-image: url(src\app\resourses\logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 10%;
  background-position: center;
  padding-bottom: 5vh;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.panel{
  border-radius: 20px !important;
}

.btn-flotante {
	border-top-left-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 0px !important;
	letter-spacing: 2px;
	background-color:green;
	padding: 15px;
	position: fixed;
	bottom: 0px;
	right: 20px;
	transition: 0.5s;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	z-index: 99;
}

.btn-flotante:hover{
  padding-bottom: 25px;
}

.btn-dark {
	border-top-left-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 0px !important;
	letter-spacing: 2px;
	background-color:green;
	padding: 15px;
	position: fixed;
	bottom: 0px;
	right: 150px;
	transition: 0.5s;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	z-index: 99;
}

.btn-dark:hover{
  padding-bottom: 25px;
}

@media only screen and (max-width: 500px) {
  .btn-flotante {
    padding: 10px;
 }

 .btn-flotante:hover {
    padding-bottom: 20px;
  }
}
