<div class="container col-" style="max-width: 100%;">
  <div class="jumbotron" style="background-color: green;text-align: center;font-size:larger;font-weight:bolder;">
    MonoPatis
  </div>
</div>
<div class="container" style="background-color: ghostwhite; border-radius: 5%;">
  <div class="container col-md-6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus magnam tempore ratione est voluptate voluptatum
    quisquam in earum mollitia necessitatibus cum velit tenetur eaque itaque inventore, corrupti vel. Repellendus,
    itaque.
  </div>
  <app-inicio></app-inicio>
</div>