<!-- <div class="col-md-12" style="display: flex; justify-content: space-evenly;"> -->
<div class="col-md-12 d-flex flex-wrap justify-content-center">
  <!-- <div class="col-md-6">
    <img src="https://steamuserimages-a.akamaihd.net/ugc/450734459498588473/5100C8266BBAD384453FDA23BC3979F982908E60/" class="img-fluid showImg">
  </div> -->
  <div class="col-md-8" style="display: flex; align-items: center;">
    <div class="col-md-12" style="padding-top: 15px;">
      <input class="form-control" style="border-color: green; text-align: center;" type="number" placeholder="{{0| currency}}" [(ngModel)]='monto' min="1"> <br>
      <div class="col-md-12 d-flex flex-wrap">
        <div class="col" style="padding-bottom: 15px;">
          <button class="btn btn-outline-primary col-md-12" data-toggle="modal" data-target="#modalCobrar" [disabled]="verificarMonto()">Cobrar</button>
        </div>
        <div class="col" style="padding-bottom: 15px;">
          <button class="btn btn-outline-danger col-md-12" data-toggle="modal" data-target="#modalPagar" [disabled]="verificarMonto()">Pagar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cobrar -->
<div class="modal fade in" id="modalCobrar" tabindex="-1" role="dialog" aria-labelledby="modalCobrarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCobrarLabel"> {{ this.obtenerJugadorSeleccionado().nombre}}: escoja a quien cobrar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Aca diseño la modal -->
        <div class="col-md-12" style="display: flex; justify-content: space-evenly;">
          <button class="btn btn-outline-primary col-md-5" (click)='cobrarBanco()' data-dismiss="modal">Banco</button>
          <button class="btn btn-outline-primary col-md-5" (click)='cobrarTodos()' data-dismiss="modal">Todos</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pagar -->
<div class="modal fade in" id="modalPagar" tabindex="-1" role="dialog" aria-labelledby="modalPagarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPagarLabel">{{ this.obtenerJugadorSeleccionado().nombre}}: escoja a quien pagar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Aca diseño la modal -->
        <p style="text-align: center;">Casos Generales:</p>
        <div class="col-md-12" style="display: flex; justify-content: space-evenly;">
          <button class="btn btn-outline-primary col-md-5" (click)='pagarBanco()' data-dismiss="modal">Banco</button>
          <button class="btn btn-outline-primary col-md-5" (click)='pagarTodos()' data-dismiss="modal">Todos</button>
        </div><br>
        <p style="text-align: center;">Jugadores:</p>
        <div class="col-md-12" style="display: flex; justify-content: space-evenly;">
          <div class="col" *ngFor="let item of this.obtenerJugadoresRestantes(); let indice=index">
            <button class="btn btn-outline-primary col-md-12" (click)="pagarJugador(item)" data-dismiss="modal">{{item.nombre}}</button>
          </div>
        </div><br>
      </div>
    </div>
  </div>
</div>
