<p class="container jumbotron" style="background-color:darkgrey; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, aliquam asperiores doloremque sunt ipsum nesciunt quia quibusdam quam quos! Enim ea sequi ducimus est. Illum rem aspernatur sed aliquam magnam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, fugiat voluptatibus. Delectus facere ab officia porro quisquam quaerat voluptates nemo eveniet dignissimos itaque, nihil vitae mollitia saepe deleniti enim quas!</p>
<div class="col-md-12" style="display:flex; justify-content: space-evenly">
    <button class="btn btn-primary col-md-5">Deshacer</button>
    <button class="btn btn-primary col-md-5">Pata puto</button>
</div>
