<p>Tiempo jugado: {{(this.hor | number :'2.0-0') + ":" + (this.min | number :'2.0-0') + ":" + (this.seg | number :'2.0-0')}}</p>
<p class="container jumbotron" style="background-color:darkgrey; overflow-y:scroll; max-height:75%; min-height: 75%; text-align: left;"> {{obtenerHistorial()}} </p>
<!-- <div class="col-md-12" style="display:flex; justify-content: space-evenly"> -->
<div class="col-md-12 d-flex flex-wrap">
  <div class="col" style="padding-bottom: 15px;">
    <button class="btn btn-outline-danger col-md-12" (click)="deshacer()" [disabled]="entrada==1">Deshacer</button>
  </div>
  <div class="col" style="padding-bottom: 15px;">
    <button class="btn btn-outline-primary col-md-12" (click)="pataPuto()">Pata puto</button>
  </div>
  <br>
</div>
