<p>Tiempo jugado: {{(this.hor | number :'2.0-0') + ":" + (this.min | number :'2.0-0') + ":" + (this.seg | number :'2.0-0')}}</p>
<p class="container jumbotron" style="background-color:darkgrey; overflow-y:scroll; max-height:75%; min-height: 75%; text-align: left;"> {{obtenerHistorial()}} </p>
<div class="col-md-12" style="display:flex; justify-content: space-evenly">
  <button class="btn btn-outline-primary col-md-5">Deshacer</button>
  <button class="btn btn-outline-primary col-md-5" (click)="pataPuto()">Pata puto</button>
</div>
