<!--<div class="container col-md-6">
  <p>
    A LABURAR MANGA DE RATAS.
  </p>
  <p>
    La joda es temporal, el conocimento es eterno
  </p>
  <img src ="https://images.alphacoders.com/738/thumb-1920-738019.jpg" style="width:500px;height:300px;">
</div>-->
<div class="container">
  <div class="container col-md-6" style="text-align: center;">
    <label style="margin-right: 10px;"> Lista de jugadores - </label>
    <button class="btn btn-primary" style="margin-right: 10px;" (click)="agregarJugador()"> + </button>
    <button class="btn btn-danger" style="margin-right: 10px;" (click)="eliminarJugador()"> - </button><br><br>
    <div class="row" style="padding-bottom: 10px;" *ngFor="let item of this.obtenerJugadores(); let indice=index">
      <div class="col">
        <label> Nombre jugador {{indice+1}}: </label>
      </div>
      <div class="col">
        <input type="text" class="form-control" id="player_name" name="player_name" placeholder="Nombre Jugador..." style="margin-right: 10px;" [(ngModel)]="item.nombre">
      </div>
    </div><br>
    <label> Ingrese el monto inicial: </label>
    <input type="number" class="form-control" style="text-align: center;" id="initial_amount" name="initial_amount" placeholder="{{1500| currency}}" min="0"><br>
    <button class="btn btn-primary" (click)="confirmarJugadores()"> Comenzar! </button>
  </div>
</div>
